<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<style>
.completed-task {
  text-decoration: line-through;
  color: #6c757d;
}
</style>
</head>
<body>
  <%- include('./header'); %>
  <%- include('./error_messages'); %>
  <% if(isAuth) { %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form action="/" method="post">
            <label>タスクの追加</label>
            <input required type="text" name="add" placeholder="何をする?"/>
            <input class="btn btn-primary" type="submit" value="追加"/>
          </form>
        </div>
        <div class="col-md-6">
          <br>
          <ul class="list-group">
            <% for(let todo of todos){ %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <input type="checkbox" class="mr-2" <%= todo.completed ? 'checked' : '' %> 
                         onchange="toggleComplete('<%= todo.id %>', this.checked)">
                  <span class="<%= todo.completed ? 'completed-task' : '' %>"><%= todo.content %></span>
                </div>
                <div>
                  <button class="btn btn-sm btn-outline-primary mr-2" onclick="editTodo('<%= todo.id %>', '<%= todo.content %>')">編集</button>
                  <button class="btn btn-sm btn-outline-danger" onclick="deleteTodo('<%= todo.id %>')">削除</button>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  <% } else { %>
    <h1>Welcome to the TodoApp</h1>
    <a class="btn btn-primary" href="/signup" role="button">Sign up now!</a>
  <% } %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
          integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>
  <script>
    function toggleComplete(id, completed) {
  fetch(`/todos/${id}/toggle`, {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({completed})
  }).then(response => response.json())
    .then(data => {
      if (data.success) {
        location.reload();
      } else {
        alert('エラーが発生しました。');
      }
    });
}
    
    function editTodo(id, currentContent) {
      const newContent = prompt("タスクを編集してください:", currentContent);
      if (newContent && newContent !== currentContent) {
        fetch(`/todos/${id}`, {
          method: 'PUT',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({content: newContent})
        }).then(response => response.json())
          .then(data => {
            if (data.success) {
              location.reload();
            } else {
              alert('エラーが発生しました。');
            }
          });
      }
    }
    
    function deleteTodo(id) {
      if (confirm("このタスクを削除してもよろしいですか？")) {
        fetch(`/todos/${id}`, {method: 'DELETE'})
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              location.reload();
            } else {
              alert('エラーが発生しました。');
            }
          });
      }
    }
  </script>  
</body>
</html>
